header {
    background-color: #B11616;
    width: auto;
    height: 134px;
}

.headerlist {
    float: left;
    display: flex;

}

.website-icon {
    background-color: #700C0C;
    width: 224px;
    height: 134px;
    margin-left: -40px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    margin-left: -40px;
}

.nav-list-item {
    float: left;
    display: flex;
    padding: 10px;
    background-color:#D9D9D9;
    font-size: 1.75rem;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 1px;
    width: 12rem;
    text-align: center;
    color: #000;
    margin-top: 79px;
}

.nav-list-item:hover {
  background-color: #828080;
}

.div-pagina-toptekst {
    width: 250px;
    height: 134px;
    margin-left: 1650px;
    padding-top: 30px ;
    font-size: 95px;
    font-style: italic;
    color: white;
    
}

.div-tekst {
    background-color: #D9D9D9;
    width: 1000px;
    height: 950px;
    border-style: solid;
    border-width: 1px;
    margin-left: 150px;
    margin-top: 80px;
}

.div-hoobytekst {
    background-color: #D9D9D9;
    width:   1000px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    margin-left: 150px;
    margin-top: 80px;
}

.div-hoobytekst-right {
    background-color: #D9D9D9;
    width:   1000px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    margin-left: 1250px;
    margin-top: 80px;
    
}

.h1-centertekst {
    text-align: center;
    font-size: 35px ;
}

.p-centertekst {
    text-align: center;
    font-size: 30px;
}

.p-centerhobby-tekst {
    text-align: center;
    font-size: 25px ;
}

.li-centertekst {
    text-align: center;
    font-size: 25px;
}

.Form-tekst-front {
    font-size: 35px;
}

.input-size {
    padding: 10px;
    width: 500px;
}

.img-siz-rightside-big {
    width: 1000px;
    height: 950px;
    float: right;
    margin-top: 85px;
    margin-right: 85px;

}

.img-siz-rightside-small {
    width: 1000px;
    height: 300px;
    float: right;
    margin-top: 85px;
    margin-right: 85px;
}

.img-siz-rightside-small-alter {
    width: 1000px;
    height: 300px;
    margin-top: 85px;
   
}
  

.img-siz-leftside-small {
    width: 1000px;
    height: 300px;
    float: left;
    margin-top: 85px;
    margin-right: 85px;
}

.div-footerhelp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-div-streep {
    background-color: #B11616;
    width: auto;
    height: 75px;
    border-style: solid;
    border-width: 1px;
    border-top:#D9D9D9;
    border-color: #D9D9D9;
    border-left: #D9D9D9;
    border-right: #D9D9D9;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-onderbalk {
    background-color: #B11616;
    width: auto;
    height: 134px;
    margin-top: auto;
}